<main>
    <section class="cardContainer">
        @for (technologyItem of technologyItems; track $index) {
        <div class="cardWrapper">
            <img class="carImage" [src]="technologyItem.urlToImage" alt="cardImage">
            <div class="cardContent">
                <div class="cardTitle">
                    <h1> {{ technologyItem.title }} </h1>
                </div>
                <div class="cardDescription">
                    <p> {{technologyItem.description}} </p>
                </div>
                <div class="cardFooter">
                    <div class="cardAuthor">
                        <span class="material-icons">person</span>
                        <div> {{ technologyItem.author }} </div>
                    </div>
                    <div class="cardActions">
                        <span class="material-icons">favorite</span>
                        <span class="material-icons">bookmark</span>
                    </div>
                </div>
                <p> {{ technologyItem.publishedAt }} </p>
            </div>
        </div>
        }
    </section>
</main>