<div>
    <!--App Header -->
    <app-header></app-header>
    <!-- app nav bar with routing -->
    <nav>
        <ul>
            <a routerLink="general"><li [class.active]="isActive('general')">General</li></a>
            <a routerLink="entertainment"><li [class.active]="isActive('entertainment')">Entertainment</li></a>
            <a routerLink="science"><li [class.active]="isActive('science')">Science</li></a>
            <a routerLink="health"><li [class.active]="isActive('health')">Health</li></a>
            <a routerLink="sports"><li [class.active]="isActive('sports')">Sports</li></a>
            <a routerLink="technology"><li [class.active]="isActive('technology')">Technology</li></a>
        </ul>
        <!-- ceci on l'ajoute pour creer une route -->
        <router-outlet></router-outlet>
    </nav>
</div>



