    <!--App Header -->
    <app-header></app-header>
    <!-- app nav bar with routing -->
    <nav>
        <ul>
            <li><a routerLink="general">General</a></li>
            <li><a routerLink="entertainment">Divertissement</a></li>
            <li><a routerLink="health">Santé</a></li>
            <li><a routerLink="science">Science</a></li>
            <li><a routerLink="sports">Sports</a></li>
            <li><a routerLink="technology">Technologie</a></li>
        </ul>
        <!-- ceci on l'ajoute pour creer une route -->
        <router-outlet></router-outlet>
    </nav>
    <app-footer></app-footer>