nav {
    ul {
        display: flex;
        margin: 10px;
        padding: 0;
        list-style-type: none;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;

        a {
            text-decoration: none;
            font-size: small;
            color: black;

            li {
                background-color: var(--text-color);
                padding: .2rem 1rem;
                border-radius: 20px;
                text-decoration: none;

                &.active {
                    background-color: var(--ternary-color);
                    color: var(--secondary-color) ;
                }

                &:hover {
                    background-color: var(--secondary-color) ;
                    color: var(--ternary-color);
                    transition: ease-in-out 0.2s;
                }
            }


        }
    }
}