<div class="header finisher-header">
    <!--App Header -->
    <app-header></app-header>
    <!-- app nav bar with routing -->
    <nav>
        <ul>
            <li [class.active]="isActive('general')"><a routerLink="general">General</a></li>
            <li [class.active]="isActive('entertainment')"><a routerLink="entertainment">Entertainment</a></li>
            <li [class.active]="isActive('science')"><a routerLink="science">Science</a></li>
            <li [class.active]="isActive('health')"><a routerLink="health">Health</a></li>
            <li [class.active]="isActive('sports')"><a routerLink="sports">Sports</a></li>
            <li [class.active]="isActive('technology')"><a routerLink="technology">Technology</a></li>
        </ul>
        <!-- ceci on l'ajoute pour creer une route -->
        <router-outlet></router-outlet>
    </nav>
</div>